#AuthenticationWrap {
    margin: auto;
    width: 400px;
}
.logo {
    width: 100%;
    padding: 15px 25%;
    margin-bottom: 30px;
    background-color: #FD9330;
    border-radius: 8em 2em 8em 2em;
}
.info input {
    display: flex;
    margin: 0 20px 40px 20px;
    font-size: 21px;
    background: white;
    border-radius: 1em;
    border: 2px solid;
    outline: none;
}
.info button {
    display: flex;
    justify-content: center;
    margin: 30px 20px 30px 20px;
    padding: 10px 60px;
    border: 2px solid #FD9330;
    border-radius: 2em;
    font-size: 27px;
    color: #FD9330;
    background-color: transparent;
    transition: 0.3s ease-out;
}
.info button:hover {
    color: white;
    background-color: #FD9330;
}

#reg-button {
    display: flex;
    padding: 0;
    margin: auto auto 10px auto;
    border: none;
    background-color: transparent;
    font-size: 1em;
    transition: 0.3s ease-out;
}