#AuthenticationWrap {
    margin: auto;
    width: 400px;
}
.logo {
    width: 100%;
    padding: 15px 25%;
    margin-bottom: 30px;
    background-color: #FD9330;
    border-radius: 8em 2em 8em 2em;
}
.info input {
    margin: 0 20px 40px 20px;
    font-size: 21px;
    background: white;
    border-radius: 1em;
    border: 2px solid;
    outline: none;
}
.info button {
    margin: 60px auto 10px;
    padding: 10px 80px;
    border: 2px solid #FD9330;
    border-radius: 2em;
    font-size: 27px;
    color: #FD9330;
    background-color: transparent;
    transition: 0.3s;
}
.info button:hover {
    color: white;
    background-color: #FD9330;
}

@media screen and (max-width: 500px) {
    #AuthenticationWrap {
        width: 350px;
    }
}
@media screen and (max-width: 350px) {
    #AuthenticationWrap {
        width: 280px;
    }
}
@media screen and (max-height: 650px) {
    .info button {
        margin-top: 15px;
    }
    .logo {
        margin-bottom: 10px;
    }
}