.Card {
    border: 2px solid #FD9330;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 1;
    cursor: pointer;
    flex-shrink: 0;
}

.CardInfo > div:not(:last-child) {
    margin-bottom: 5px;
}

div > label:not(:first-child) {
    margin-left: 10px;
}


.Card-item:first-child {
    background-color: #FD9330;
    border-radius: 0 0 0 10px;
}

/* input {
    padding-left: 8px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: .4em;
} */