#ChatBot {
    position: fixed;
    height: 80vh;
    width: 340px;
    border: 2px solid #FD9330;
    border-radius: 2em;
    opacity: 0;
    overflow-y: auto;
    inset-block: auto 5vmin;
    inset-inline: auto 5vmin;
    animation: chatbot-reveal 0.3s ease-out 0s 1 forwards;
}

@keyframes chatbot-reveal {
    from {
        transform: translateX(100px);
    }
    to {
        opacity: 0.99;
        transform: translateX(0);
    }
}

#ChatBot::-webkit-scrollbar{
    width: 2px;
    height: 1px;
    background-color: transparent;
}

#ChatBot::-webkit-scrollbar-thumb{
    background-color: #FD9330;
}

#ChatBot::-webkit-scrollbar-corner{
    background-color: transparent;
}

#chat-send, #chat-close {
    cursor: pointer;
    font-size: 1.8em;
    color: #FD9330;
}

.open {
    display: flex;
}

.close {
    display: none;
}