#FloatingButton {
    position: fixed;
    color: #FD9330;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    inset-block: auto 5vmin;
    inset-inline: auto 5vmin;
    transition: 0.3s ease-out;
}