#Header {
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: #212529;
}

.logo-nav {
    height: 54px;
    padding: 6px;
    cursor: pointer;
}

.search {
    height: 36px;
    border: 1px solid #FD9330;
    border-radius: 0.3em;
    background: transparent;
    color: white;
}

.fontAwesome {
    font-family: Verdana, 'FontAwesome', sans-serif;
}

input::-webkit-input-placeholder       {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input::-moz-placeholder                {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input:-moz-placeholder                 {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input:-ms-input-placeholder            {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.Navbar-list-item > span, .Submenu-item > span {
    cursor: pointer;
    color: white;
    transition: 0.3s ease-out;
}

.Submenu-item > span:hover {
    color: #FD9330;
}

.Navbar-list-item {
    margin-right: 35px;
}

.sign-out-item {
    margin-left: 100px;
}

.Submenu {
    position: fixed;
    background-color: #212529;
    border: 2px solid #FD9330;
    border-radius: 10px;
    opacity: 0;
    animation: submenu-reveal 0.45s ease-out 0s 1 forwards;
}

@keyframes submenu-reveal {
    from {
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Submenu-item {
    margin-bottom: 8px;
}

.Submenu-item:last-child {
    margin-bottom: 0;
}