Header {
    padding: 10px;
    position: fixed;
    top: 0;
}

.logo-nav {
    height: 54px;
    padding: 6px;
    cursor: pointer;
}

.search {
    height: 36px;
    border: 1px solid #FD9330;
    border-radius: 0.3em;
    background: transparent;
    color: white;
}

.fontAwesome {
    font-family: Verdana, 'FontAwesome', sans-serif;
}

input::-webkit-input-placeholder       {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input::-moz-placeholder                {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input:-moz-placeholder                 {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input:-ms-input-placeholder            {opacity: .4; transition: opacity 0.3s ease; color: #FD9330;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.navbar-list-item > span, .sign-out-item > span {
    cursor: pointer;
    color: white;
    transition: 0.3s ease-out;
}

.navbar-list-item > span {
    margin-right: 35px;
}

.sign-out-item > span {
    margin-left: 100px;
}

.navbar-list-item > span:hover, .sign-out-item > span:hover {
    color: #FD9330;
}
