@media screen and (max-width: 1000px) {
    #Header-navbar::-webkit-scrollbar{
        width: 3px;
        height: 3px;
        background-color: transparent;
    }

    #Header-navbar::-webkit-scrollbar-thumb{
        background: radial-gradient(#FD9330, transparent);
    }

    #Header-navbar::-webkit-scrollbar-corner{
        background-color: transparent;
    }

    .Full-card {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }

    #Header-navbar {
        padding-left: 20px;
        margin: 10px 20px auto 0;
        flex-grow: 1;
        overflow-x: auto;
        scrollbar-color: radial-gradient(#FD9330, transparent) transparent;
        scrollbar-width: thin;
        padding-bottom: 10px;
    }

    .full-card-buttons {
        margin-left: auto;
        margin-right: auto;
    }

    .Navbar-list-item {
        margin-right: 50px;
    }

    .sign-out-item {
        margin-left: 60px;
    }

    #ChatBot {
        width: 100%;
        border-radius: 0;
        inset-inline: auto;
        inset-block: 0;
        height: 100%;
    }
}