@media screen and (max-width: 1000px) {
    .Full-card {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }

    #Header-navbar {
        margin: auto;
        padding-top: 10px;
    }

    .full-card-buttons {
        margin-left: auto;
        margin-right: auto;
    }

    .Navbar-list-item {
        margin-right: 30px;
    }

    .sign-out-item {
        margin-left: 30px;
    }
}